numpy
matplotlib
pandas
scikit-learn
nltk
streamlit
openai
langchain
langchain-openai
langchain-community
langchain-text-splitters
langgraph
faiss-cpu
pypdf
docx2txt
openpyxl
python-docx
typing-extensions
transformers
torch 
sentencepiece
wikipedia
requests
re

